<div class="row">
  <div class="product-info col-md-4" *ngFor="let p of products">
    <div class="card bg-light">
      <!-- TO DO: ADD IMAGE -->
      <h3>{{ p.beerName }}</h3>
      <ul class="product-props">
        <li>Price: {{ p.price | currency: 'GBP' }}</li>
        <li>Brewery: {{ p.brewery.name }}</li>
        <li>Style: {{ p.style }}</li>
        <li>ABV: {{ p.abv / 100 | percent: '1.1-1' }}</li>
        <li>Size: {{ p.size }}ml</li>
      </ul>
      <button id="buyButton" class="btn btn-success" (click)="addProduct(p)">Buy</button>
    </div>
  </div>
</div>
